*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 12px;
    font-family: Odibee Sans;
}
h2,
p {
    margin: 0;
}
.page {
    position: relative;
}
ul {
    padding-left: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
.logo {
    display: flex;
}
.navigation {
    display: flex;
    margin-right: 20px;
}
.logo-image {
    width: 109px;
    height: 134px;
}
.button-menu {
    width: 50px;
    height: 36.07px;
    margin-top: 20px;
    margin-right: 20px;
}
.navigation {
    display: none;
    padding: 0 20px;
}
.navigation.active {
    display: block;
    position: absolute;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    margin: 0;
    z-index: 2;
}
.navigation.active .menu {
    height: 100%;
}
.navigation.active .menu li {
    list-style: none;
    padding: 10px;
}
.navigation.active .menu li a {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    transition: 0.5s linear;
}
.navigation.active .menu li a:hover {
    color: red;
}
.slider {
    position: relative;
}
.slider-content img {
    width: 100%;
    display: relative;
}
.slider-content .title {
    position: absolute;
    transform: translate(-50%, -65%);
    left: 50%;
    top: 65%;
    color: #fff;
    font-size: 7rem;
    text-transform: uppercase;
    font-weight: normal;
}
.slider-navigation {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 0;
    font-size: 20px;
}
.slider-navigation ul {
    width: 2rem;
    width: 100px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.slider-navigation ul li {
    list-style: none;
}
.slider-navigation ul li a span {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: #ffef73;
    border-radius: 50%;
}
.slider-navigation ul li a span:hover {
    background: #ffd902;
}
.about {
    display: flex;
    justify-content: space-between;
    background: #c6fde6;
    margin: 0;
}
.about .about-image {
    width: 33%;
}
.about .about-content {
    width: 65%;
}
.about-image img {
    width: 100%;
    margin: 60px 0;
}
.about-content .title {
    font-size: 95px;
    color: #000000;
    text-align: center;
    text-decoration: underline;
    margin: 70px 0;
    text-transform: uppercase;
    font-weight: normal;
}
.about-content .text {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    margin: 10px 60px 40px 0px;
}
hr {
    height: 10px;
    width: 100%;
    background-color: #ffd902;
    border: none;
    margin: 0;
}
.about-career {
    display: flex;
    justify-content: space-between;
    background: rgba(167, 151, 151, 0.45);
}
.about-career .about-career-content {
    width: 50%;
}
.about-career .about-career-image {
    width: 50%;
}
.about-career-content p {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    margin: 50px 40px 50px 40px;
}
.about-career-slider {
    display: relative;
    width: 90%;
    background: #244b3b;
    margin: 60px auto 0 auto;
    padding-bottom: 20px;
}
.about-career-slider img {
    width: 90%;
    display: absolute;
    margin: 2% 5% 0% 5%;
}
.about-career-slider ul {
    width: 2rem;
    width: 100px;
    padding: 0;
    display: flex;
    justify-content: space-between;

    margin: 10px auto 0 auto;
}
.about-career-slider li {
    list-style: none;
}
.about-career-slider ul li a span {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: #ffef73;
    border-radius: 50%;
}
.about-career-slider ul li a span:hover {
    background: #ffd902;
}
.members {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #ffd902;
    margin: 0;
    border: 8px solid #000000;
}
.members .symbol {
    width: 20%;
}
.members .group-members {
    display: flex;
    flex-direction: column;
}
.members-header {
    display: flex;
    min-height: 190px;
    position: relative;
}
.members-header-image {
    width: 230px;
    height: 190px;
    margin: 5px 0px 0px 0px;
    transform: rotate(-15deg);
    position: absolute;
    left: 0;
    top: 0;
}
.members-header-title {
    font-size: 95px;
    color: #000000;
    text-align: center;
    text-decoration: underline;
    margin-top: 70px;
    width: 100%;
    text-transform: uppercase;
    font-weight: normal;
}
.group-members {
    width: 100%;
    position: relative;
}
.group-members ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7%;
}
.group-members ul li {
    list-style: none;
    width: 17%;
    margin-bottom: 2%;
}
.group-members ul li img {
    width: 100%;
    height: 100%;
    border: 4px solid #000000;
}
.group-members ul li img:hover {
    transform: scale(1.1);
}
.group-members-logo {
    position: absolute;
    bottom: 15px;
    right: 20px;
}
.group-members-logo .image {
    max-width: 110px;
}
footer {
    width: 100%;
    background: #111111;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
footer .contact {
    width: 30%;
    font-weight: normal;
    font-size: 38px;
    line-height: 42px;
    align-items: center;
    color: #6e6363;
    padding-top: 20px;
    padding-left: 15px;
}
footer .copyright {
    width: 40%;
    font-weight: normal;
    font-size: 26px;
    text-align: center;
    color: #6f6363;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
footer .social-midias {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 8px;
}
.twitter {
    width: 60px;
}
.instagram {
    width: 110px;
}
.social-midias a:hover {
    transform: scale(1.1);
}
