*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 12px;
}
h2,
p {
    margin: 0;
}
.page {
    position: relative;
}
.header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
.logo {
    display: flex;
}
.navigation {
    display: flex;
    margin-right: 20px;
}
.logo-image {
    width: 109px;
    height: 134px;
}
.button-menu {
    width: 50px;
    height: 36.07px;
    margin-top: 20px;
}
.menu {
    display: none;
}
.slider {
    position: relative;
}
.slider-content img {
    width: 100%;
    display: relative;
}
.slider-content .title {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    color: #fff;
}
.slider-navigation {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 0;
    font-size: 20px;
}
.slider-navigation ul {
    width: 2rem;
    width: 100px;
    padding: 0;

    display: flex;
    justify-content: space-between;
}
.slider-navigation ul li {
    list-style: none;
}

.slider-navigation ul li a span {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: red;
    border-radius: 50%;
    border: solid 1px green;
}
.about {
    display: flex;

    justify-content: space-between;
    background: #c6fde6;
}
.about .about-image {
    width: 33%;
}
.about .about-content {
    width: 65%;
}
.about-image {
}
.about-content {
}
.about-image img {
    width: 100%;
}
.about-content .title {
    font-family: Odibee Sans;
    font-size: 95px;
    color: #000000;
    text-align: center;
    text-decoration: underline;
    margin: 70px 0;
}
.about-content .text {
    font-family: Odibee Sans;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
}
